<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dashboard Owner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="dashboard-layout">
    <div class="sidebar">

        <div>
            <div class="sidebar-profile">
                <h2>{{ session.nama_perusahaan_zhavira }}</h2>
                <p>{{ session.nama_market_zhavira }}</p>
                <p>{{ session.role_zhavira }}</p>
                <p>{{ session.nama_user_zhavira }}</p>
            </div>

            <div class="sidebar-menu">
                {% if session.role_zhavira == 'admin' %}
                <a href="{{ url_for('dashboard_admin') }}">Dashboard Admin</a>
                <a href="{{ url_for('data_user') }}">Data User</a>
                <a href="{{ url_for('data_perusahaan') }}">Data Perusahaan</a>
                <a href="{{ url_for('data_barang') }}">Data Barang</a>
                <a href="{{ url_for('laporan_keuangan') }}">Laporan</a>

                {% elif session.role_zhavira == 'owner' %}
                <a href="{{ url_for('dashboard_owner') }}">Dashboard Owner</a>
                <a href="{{ url_for('laporan_keuangan') }}">Laporan</a>

                {% elif session.role_zhavira == 'staf' %}
                <a href="{{ url_for('dashboard_staf') }}">Dashboard Staf</a>
                <a href="{{ url_for('data_barang') }}">Data Barang</a>

                {% elif session.role_zhavira == 'kasir' %}
                <a href="{{ url_for('transaksi_kasir') }}">Kasir</a>
                <a href="{{ url_for('laporan_keuangan') }}">Laporan</a>
                {% endif %}
                
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>

    </div>

    <div class="main-content">
        <div class="container fade-in">

            <h1>Dashboard Owner</h1>


            <div class="summary-wrapper">

                <div class="summary-card">
                    <h3>TOTAL TRANSAKSI</h3>
                    <h2>{{ total_transaksi }}</h2>
                </div>

            </div>

        </div>
    </div>
</body>

</html>