<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard Staf - Minimarket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container fade-in">
        <header>
            <h1>Dashboard Manager</h1>
            <button><a href="/logout" style="float:right">Logout</a></button>
        </header>
        
        {% for n in notif %}
        <div class="notif-item">{{ n.nama_barang_zhavira }} stok habis</div>
        {% endfor %}

        <table>
            <tr>
                <th>Tanggal</th>
                <th>Kasir</th>
                <th>Total</th>
                <th>Metode</th>
            </tr>

            {% for t in transaksi %}
            <tr>
                <td>{{ t.tanggal_zhavira }}</td>
                <td>{{ t.nama_user_zhavira }}</td>
                <td>Rp {{ t.total }}</td>
                <td>{{ t.metode }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>