<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Dashboard Admin</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="dashboard-layout">
  <div class="sidebar">

    <div>
      <div class="sidebar-profile">
        <h2>{{ session.nama_perusahaan_zhavira }}</h2>
        <p>{{ session.nama_market_zhavira }}</p>
        <p>{{ session.role_zhavira }}</p>
        <p>{{ session.nama_user_zhavira }}</p>
      </div>

      <div class="sidebar-menu">
        <a href="{{ url_for('dashboard_admin') }}">Dashboard</a>
        <a href="{{ url_for('data_user') }}">Data User</a>
        <a href="{{ url_for('data_perusahaan') }}">Data Perusahaan</a>
        <a href="{{ url_for('laporan_keuangan') }}">Laporan</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>

  </div>

  <div class="main-content">
    <div class="container fade-in">

      <h1>Dashboard Admin</h1>

      <div class="summary-wrapper">

        <div class="summary-card">
          <h3>TOTAL USER</h3>
          <h2>{{ total_user }}</h2>
        </div>

        <div class="summary-card">
          <h3>TOTAL TRANSAKSI</h3>
          <h2>{{ total_transaksi }}</h2>
        </div>

      </div>

    </div>
  </div>
</body>

</html>