<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Data Barang</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="dashboard-layout">

  <div class="sidebar">
    <div>
      <div class="sidebar-profile">
        <h2>{{ session.nama_perusahaan_zhavira }}</h2>
        <p>{{ session.nama_market_zhavira }}</p>
        <p>{{ session.role_zhavira }}</p>
        <p>{{ session.nama_user_zhavira }}</p>
      </div>

      <div class="sidebar-menu">
        <a href="{{ url_for('dashboard_staf') }}">Dashboard</a>
        <a href="{{ url_for('data_barang') }}">Data Barang</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="container fade-in">

      <h1>Data Barang</h1>

      <div style="margin-bottom: 20px;">
        <button>
          <a href="{{ url_for('tambahbarang') }}">➕ Tambah Barang</a>
        </button>
      </div>

      <table>
        <tr>
          <th>Kode</th>
          <th>Nama</th>
          <th>Stok</th>
          <th>Harga</th>
          <th>Status</th>
          <th>Aksi</th>
        </tr>

        {% for b in barang %}
        <tr>
          <td>{{ b.kode_barang_zhavira }}</td>
          <td>{{ b.nama_barang_zhavira }}</td>
          <td>{{ b.stok_zhavira }}</td>
          <td>Rp {{ "{:,.0f}".format(b.harga_zhavira) }}</td>
          <td>{{ b.status_zhavira }}</td>
          <td>
            <a href="{{ url_for('edit_barang', kode_barang_zhavira=b.kode_barang_zhavira) }}" class="btn-edit">Edit</a> <br>
            <a href="{{ url_for('hapus_barang', kode_barang_zhavira=b.kode_barang_zhavira) }}"
              onclick="return confirm('Hapus?')" class="btn-delete">Hapus</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</body>

</html>